{% extends "base.html"%}
{% load static %}
{% block description%}Create an acount{% endblock %}
{% block robots%}index,follow{% endblock %}
{% block keywords%}vintage, onlineshop, signup{% endblock %}
{% block css%}{% static "products/signup.css" %}{% endblock %}
{% block  title%}Sign Up{% endblock %}

{% block body%}
    
{% include "includes/nav.html"%}

 <form>
     <label for="fulltname">Full Name:</label><br>
     <input type="text" class = "field" id="fullname"><br>

     <label for="email">Email:</label><br>
     <input type="email" class = "field" id="email" required><br>
     
     <label for="pass">password:</label><br>
     <input type="password" class = "field" id="pass" required><br>
     
     <input type="checkbox" id = "termofuse">
     <label for="termofuse">I accept the <a href="">terms and conditions</a>.</label>

     <br><br>
     <button type="submit">Signup</button>
 </form>
{% endblock %}